@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:ital,wght@0,100;0,400;1,100&display=swap');

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}
.blog-comment  {
	font-family: 'Inter','Raleway', sans-serif ;
	font-size: 16px;
	color: #474343;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}
span{
	font-weight: 400;
}